.venv/
__pycache__/
.pytest_cache/
*.pyc
pdk/
syn/build/
results/*_area.txt
results/*_timing.txt
results/*_ltp.txt
results/ppa.json
results/*.gds
results/*.def
results/*.odb
results/*_pnr.txt
results/*_sta.txt
open_pdks/
pdk_full/
